<% if has_role?(current_user, :admin) %>

  <div class="all">
    <div class="frame">
      <%= render partial: 'contact/contact' %>
    <div>
  </div>

<% else %>

    <div>
      <%= link_to chat_room_path(@chat_room.id) do %>
        <button type="button" class="btn btn-light chat-icon">Chat with us</button>
      <% end %>
    </div>

<% end %>




