<% if has_role?(:admin) %>
  <div class="all">
    <div class="frame">
      <%= render partial: 'contact/contact' %>
    <div>
  </div>
<% else %>
    <div>
      <%= link_to chat_room_path(@chat_rooms) do %>
        <button type="button" class="btn btn-light chat-icon">Chat with us</button>
      <% end %>
    </div>

  </div>
<% end %>




