.body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: black;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
}

.chat-icon {
    background: #1d2d38;
    color: #ffe484;
    border-radius: 30px;
    font-size: 17px;
    bottom: 10px;
    position: fixed;
    right: 10px;
    padding: 8px 11px;
}

.chat-icon:hover {
    color: #ffe484;
    background: #294355;
}

.chat-icon:focus {
    color: #ffe484;
    background: #294355;
}